<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %c [%p] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="FATAL" />
		</filter>
	</appender>
	
	<appender name="WIRE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="FATAL" />
		</filter>
	</appender>

	<category name="com.adorsys.plooh.server">
		<priority value="DEBUG" />
	</category>
	
	<category name="org.apache.http.wire" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="WIRE" />
	</category>


	<root>
		<priority value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
